# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
.env.cloud
.env.pi
.venv/
venv/

# Node
node_modules/
dist/

# Misc
.DS_Store

# IDE
.vscode/
android/.idea/

# Android
android/.gradle/
android/local.properties
android/keystore.properties
android/app/build/
android/build/
android/app/src/main/assets/public/
